/data/handwritten-chinese-character-hanzi-datasets/
/data/NewData/
/data/Test_HWDB/
/data/test.csv
/data/train.csv
/data/train.tfrecord
/data/test.tfrecord
.DS_Store
.vscode/
.gitattributes
/model/checkpoints/
